<footer class="container-fluid bg-dark ">
  <div class="row">
    <a class="col mb-4 mt-4 white-text text-center white-link" href="/">Home</a>
    <a class="col mb-4 mt-4 white-text text-center white-link" href="/cadastro">Marcar Nova Consulta</a>
    <a class="col mb-4 mt-4 white-text text-center white-link" href="/consultas">Consultas Marcadas</a>
  </div>

  <div class="white-text text-center border-top border-primary">
    © 2020 - EasyMed. Todos os direitos reservados.
  </div>
</footer>