<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

  <a class="navbar-brand" id="brand-logo" href="/">EasyMed</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
    aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cadastro">Marcar Consulta</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/consultas">Consultas Marcadas</a>
      </li>

    </ul>

  </div>
</nav>